<ng-container *ngIf="vm$ | async as vm">
  <div *ngIf="vm.bill && !vm.error; else loading">
    <div class="px-4 py-4 sm:px-6 lg:px-8">
      <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
          <h1 class="text-xl font-semibold text-gray-900">
            <button
              title="Edit bill"
              (click)="editBill()"
              type="button"
              class="inline-flex items-center px-4 py-2 pl-0 border border-transparent text-sm font-medium rounded-md text-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            >
              <span class="mr-2 text-xl">{{
                vm.bill.description | uppercase
              }}</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"
                />
                <path
                  fill-rule="evenodd"
                  d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </h1>
          <p class="mt-2 text-sm text-gray-700">
            on
            <time [attr.datetime]="vm.bill.billDate | date: 'longDate'">
              {{ vm.bill.billDate | date: 'longDate' }}
            </time>
          </p>
        </div>
        <div
          class="mt-4 space-x-4 sm:mt-0 sm:ml-16 sm:flex-none"
          *ngIf="vm.hasItems"
        >
          <div class="bg-white flex items-start justify-end gap-4">
            <!-- This example requires Tailwind CSS v2.0+ -->
            <div class="relative z-0 inline-flex shadow-sm rounded-md">
              <button
                (click)="addItem()"
                type="button"
                class="relative inline-flex items-center px-4 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500"
              >
                Add item
              </button>
              <div class="-ml-px relative block">
                <button
                  (click)="toggleOptions()"
                  type="button"
                  class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500"
                  id="option-menu-button"
                  aria-expanded="true"
                  aria-haspopup="true"
                >
                  <span class="sr-only">Open options</span>
                  <!-- Heroicon name: solid/chevron-down -->
                  <svg
                    class="h-5 w-5"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </button>

                <!--
      Dropdown menu, show/hide based on menu state.

      Entering: "transition ease-out duration-100"
        From: "transform opacity-0 scale-95"
        To: "transform opacity-100 scale-100"
      Leaving: "transition ease-in duration-75"
        From: "transform opacity-100 scale-100"
        To: "transform opacity-0 scale-95"
    -->
                <div
                  *ngIf="vm.showOptions"
                  class="origin-top-right absolute right-0 mt-2 -mr-1 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none w-48"
                  role="menu"
                  aria-orientation="vertical"
                  aria-labelledby="option-menu-button"
                  tabindex="-1"
                >
                  <div class="py-1" role="none">
                    <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                    <button
                      (click)="addExtraCharge()"
                      class="text-gray-700 block px-4 py-2 text-sm w-full text-left"
                      role="menuitem"
                      tabindex="-1"
                      id="option-menu-item-0"
                    >
                      Add extra charge
                    </button>

                    <button
                      (click)="addDiscount()"
                      class="text-gray-700 block px-4 py-2 text-sm w-full text-left"
                      role="menuitem"
                      tabindex="-1"
                      id="option-menu-item-1"
                    >
                      Add discount
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <button
                type="button"
                class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto"
              >
                Save and share
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
          <snardev-split-form-ui
            [formShow]="vm.showModal"
            [formType]="vm.formType"
            [formData]="vm.formData"
            (formClose)="onCloseModal($event)"
            (removeItem)="onRemoveItem($event)"
          ></snardev-split-form-ui>
        </div>
      </div>
      <div class="-mx-4 mt-8 flex flex-col sm:-mx-6 md:mx-0">
        <ng-container *ngIf="vm.hasItems; else noItems">
          <table class="min-w-full divide-y divide-gray-300">
            <thead>
              <tr>
                <th
                  scope="col"
                  class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 md:pl-0"
                >
                  Item
                </th>
                <th
                  scope="col"
                  class="hidden py-3.5 px-3 text-right text-sm font-semibold text-gray-900 sm:table-cell"
                >
                  Quantity
                </th>
                <th
                  scope="col"
                  class="hidden py-3.5 px-3 text-right text-sm font-semibold text-gray-900 sm:table-cell"
                >
                  Price
                </th>
                <th
                  scope="col"
                  class="py-3.5 pl-3 pr-4 text-right text-sm font-semibold text-gray-900 sm:pr-6 md:pr-0"
                >
                  Amount
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="border-b border-gray-200"
                *ngFor="let item of vm.bill.items"
              >
                <td class="py-4 pl-4 pr-3 text-sm sm:pl-6 md:pl-0">
                  <div class="font-medium text-gray-900">
                    <button
                      (click)="manageItem(item.id)"
                      title="Manage item"
                      type="button"
                      class="inline-flex items-center text-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-5 w-5"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                      >
                        <path
                          d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"
                        />
                        <path
                          fill-rule="evenodd"
                          d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
                          clip-rule="evenodd"
                        />
                      </svg>
                      <span class="ml-2">{{
                        item.description | uppercase
                      }}</span>
                    </button>
                  </div>
                  <div class="mt-0.5 text-gray-500 sm:hidden">
                    {{ item.quantity }} at
                    {{ item.price | currency: vm.bill.currency }} each
                    <p
                      class="text-xs text-green-600"
                      *ngIf="vm.bill.perItemRate > 0"
                    >
                      + charges
                      {{
                        item.price * vm.bill.perItemRate
                          | currency: vm.bill.currency
                      }}
                    </p>
                  </div>
                </td>
                <td
                  class="hidden py-4 px-3 text-right text-sm text-gray-500 sm:table-cell"
                >
                  {{ item.quantity }}
                </td>
                <td
                  class="hidden py-4 px-3 text-right text-sm text-gray-500 sm:table-cell"
                >
                  {{ item.price | currency: vm.bill.currency }}
                  <p
                    class="text-xs text-green-600"
                    *ngIf="vm.bill.perItemRate > 0"
                  >
                    + charges
                    {{
                      item.price * vm.bill.perItemRate
                        | currency: vm.bill.currency
                    }}
                  </p>
                </td>
                <td
                  class="py-4 pl-3 pr-4 text-right text-sm text-gray-500 sm:pr-6 md:pr-0"
                >
                  {{ item.price * item.quantity | currency: vm.bill.currency }}
                  <p
                    class="text-xs text-green-600"
                    *ngIf="vm.bill.perItemRate > 0"
                  >
                    + charges
                    {{
                      item.quantity *
                        (item.price + item.price * vm.bill.perItemRate)
                        | currency: vm.bill.currency
                    }}
                  </p>
                </td>
              </tr>

              <!-- More items... -->
            </tbody>
            <tfoot>
              <tr>
                <th
                  scope="row"
                  colspan="3"
                  class="hidden pl-6 pr-3 pt-6 text-right text-sm font-normal text-gray-500 sm:table-cell md:pl-0"
                >
                  Subtotal
                </th>
                <th
                  scope="row"
                  class="pl-4 pr-3 pt-6 text-left text-sm font-normal text-gray-500 sm:hidden"
                >
                  Subtotal
                </th>
                <td
                  class="pl-3 pr-4 pt-6 text-right text-sm text-gray-500 sm:pr-6 md:pr-0"
                >
                  {{ vm.bill.subTotal | currency: vm.bill.currency }}
                </td>
              </tr>
              <tr *ngFor="let addendum of vm.bill.addendums">
                <th
                  scope="row"
                  colspan="3"
                  class="hidden pl-6 pr-3 pt-4 text-right text-sm font-normal text-gray-500 sm:table-cell md:pl-0"
                >
                  <button
                    (click)="manageAddendum(addendum.id)"
                    title="Manage item"
                    type="button"
                    class="inline-flex items-center text-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-5 w-5"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                    >
                      <path
                        d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"
                      />
                      <path
                        fill-rule="evenodd"
                        d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
                        clip-rule="evenodd"
                      />
                    </svg>
                    <span class="ml-2">{{ addendum.description }}</span>
                  </button>
                </th>
                <th
                  scope="row"
                  class="pl-4 pr-3 pt-4 text-left text-sm font-normal text-gray-500 sm:hidden"
                >
                  <button
                    (click)="manageAddendum(addendum.id)"
                    title="Manage item"
                    type="button"
                    class="inline-flex items-center text-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-5 w-5"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                    >
                      <path
                        d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"
                      />
                      <path
                        fill-rule="evenodd"
                        d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
                        clip-rule="evenodd"
                      />
                    </svg>
                    <span class="ml-2">{{ addendum.description }}</span>
                  </button>
                </th>
                <td
                  class="pl-3 pr-4 pt-4 text-right text-sm text-gray-500 sm:pr-6 md:pr-0"
                >
                  {{ addendum.amount | currency: vm.bill.currency }}
                </td>
              </tr>
              <tr>
                <th
                  scope="row"
                  colspan="3"
                  class="hidden pl-6 pr-3 pt-4 text-right text-sm font-semibold text-gray-900 sm:table-cell md:pl-0"
                >
                  Total
                </th>
                <th
                  scope="row"
                  class="pl-4 pr-3 pt-4 text-left text-sm font-semibold text-gray-900 sm:hidden"
                >
                  Total
                </th>
                <td
                  class="pl-3 pr-4 pt-4 text-right text-sm font-semibold text-gray-900 sm:pr-6 md:pr-0"
                >
                  {{ vm.bill.grandTotal | currency: vm.bill.currency }}
                </td>
              </tr>
            </tfoot>
          </table>
        </ng-container>
      </div>
    </div>
  </div>
  <p *ngIf="vm.error">
    {{ vm.error }}
  </p>
  <ng-template #loading>
    <p *ngIf="!vm.error">Loading...</p>
  </ng-template>
  <ng-template #noItems>
    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="text-center">
      <svg
        class="mx-auto h-12 w-12 text-gray-400"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        aria-hidden="true"
      >
        <path
          vector-effect="non-scaling-stroke"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"
        />
      </svg>
      <h3 class="mt-2 text-sm font-medium text-gray-900">No items yet</h3>
      <p class="mt-1 text-sm text-gray-500">Get started by adding a new item</p>
      <div class="mt-6">
        <button
          (click)="addItem()"
          type="button"
          class="inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        >
          <!-- Heroicon name: solid/plus -->
          <svg
            class="-ml-1 mr-2 h-5 w-5"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
              clip-rule="evenodd"
            />
          </svg>
          New item
        </button>
      </div>
    </div>
  </ng-template>
</ng-container>
